apiVersion: v1
kind: Pod
metadata:
  name: storage-access-test
spec:
  restartPolicy: Never
  nodeSelector:
    agentpool: "{{NODEPOOL_NAME}}"
  containers:
  - name: storage-access-test
    image: mcr.microsoft.com/azure-cli
    env:
    - name: AZURE_STORAGE_CONNECTION_STRING
      valueFrom:
        secretKeyRef:
          name: storage-connstr
          key: AZURE_STORAGE_CONNECTION_STRING
    - name: STORAGE_CONTAINER_NAME
      value: "{{STORAGE_CONTAINER_NAME}}"
    command:
      - /bin/sh
      - -c
    args:
      - |
        az storage blob list \
          --container-name "$STORAGE_CONTAINER_NAME" \
          --connection-string "$AZURE_STORAGE_CONNECTION_STRING" \
          -o table
